<style>
  ul li{
    list-style: none;
  }
</style>

<div >
  <div *appRandomTemplate="[contact1, contact2, contact3]"></div>
</div>

<ng-template #contact1>

  <div id="contact">
    <ul random-interval-font-size="14:18pt">
      <li>
        <app-entity endpoint="naturname"></app-entity>
      </li>
      <li>
        <app-entity endpoint="address"></app-entity>
      </li>
    </ul>
    <ul random-interval-font-size="12:16pt">
      <li>
        <app-text content="Telefon:"></app-text> <app-entity endpoint="phone"></app-entity>
      </li>
      <li>
        <app-text content="Telefax:"></app-text> <app-entity endpoint="fax"></app-entity>
      </li>
      <li><app-entity endpoint="email"></app-entity></li>
    </ul>
  </div>
</ng-template>


<ng-template  #contact2>
  <div id="contact">
    <ul random-interval-font-size="16:18pt">
      <li>
        <app-entity endpoint="jurname"></app-entity>
      </li>
      <li>
        <app-entity endpoint="address"></app-entity>
      </li>
    </ul>
    <ul random-interval-font-size="12:16pt">
      <li>
        <b><app-text content="Telefon:"></app-text></b> <app-entity endpoint="phone"></app-entity>
      </li>
      <li>
        <b><app-text content="Telefax:"></app-text></b> <app-entity endpoint="fax"></app-entity>
      </li>
      <li><app-entity endpoint="email"></app-entity></li>
    </ul>
  </div>
</ng-template>

<ng-template  #contact3>
  <div id="contact">
    <ul random-interval-font-size="12:14pt">
      <li>
        <app-entity endpoint="naturname"></app-entity>
      </li>
      <li>
        <app-entity endpoint="address"></app-entity>
      </li>
    </ul>
  </div>
</ng-template>

