<style>
  ul li{
    list-style: none;
  }
</style>

<div >
  <div *appRandomTemplate="[contact1, contact2, contact3]"></div>
</div>

<ng-template #contact1>

  <div id="contact">
    <ul random-interval-font-size="14:18pt">
      <li>{{ name }}</li>
      <li>{{ address }}</li>
    </ul>
    <ul>
      <li>Telefon: {{ phoneNum }}</li>
      <li>Telefax: {{ faxNum }}</li>
      <li>{{ emailAddr }}</li>
    </ul>
  </div>
</ng-template>


<ng-template  #contact2>
  <div id="contact">
    <ul random-interval-font-size="16:18pt">
      <li>{{ name }}</li>
      <li>{{ address }}</li>
    </ul>
    <ul random-interval-font-size="12:16pt">
      <li><b>Telefon:</b> {{ phoneNum }}</li>
      <li><b>Telefax:</b> {{ faxNum }}</li>
      <li>{{ emailAddr }}</li>
    </ul>
  </div>
</ng-template>

<ng-template  #contact3>
  <div id="contact">
    <ul random-interval-font-size="12:14pt">
      <li>{{ name }}</li>
      <li>{{ address.split(',')[0] }},</li>
      <li>{{ address.split(',')[1] }}</li>
    </ul>
  </div>
</ng-template>

