<div>
  <div>
    <div class="metadata" doctype="briefpost"></div>
    <!-- Logo -->
    <div
    style="float: right; max-width: 35%;"
    random-interval-font-size="30:55px"
    random-list-font-weight="100,200,300,400,500,600,700,800,900"
    random-interval-letter-spacing="-7:15px"
    >
      <span class="gen-arbitrary-text">RECHNUNG</span>
    </div>
    <!-- Logo end -->

    <!-- Header -->
    <div style="width: 65%; display: flex; justify-content: stretch;">

      <!-- First column -->
      <div
        random-interval-margin-right="20:50px"
        style="flex-shrink: 0;"
      >
        <!-- Group heading -->
        <div>
          <!-- Heading -->
          <div style="font-weight: 800" random-interval-font-size="18:25px">
            <span class="gen-entity"><%jur_personen%></span>
          </div>
          <!-- Heading end -->

          <!-- Subtitle -->
          <div style="font-weight: 700; margin-bottom: 20px;">
            <span class="gen-arbitrary-text">(haftungsbeschränkt)</span>
          </div>
          <!-- Subtitle end -->

          <!-- Address -->
          <div
          random-list-font-weight="100,200,300,400"
          random-interval-margin-bottom="20:40px"
          random-interval-font-size="0.85:1em"
          style="display:block; width:180px; font-style: italic;"
          >
            <span class="gen-entity"><%address%></span>
          </div>
          <!-- Address end -->
        </div>
        <!-- Group heading end -->

        <!-- Rechnung an -->
        <div
          style="margin-bottom: 20px; font-weight: 700;"
          random-interval-margin-top="20:40px"
        >
          <span class="gen-arbitrary-text">Rechnung an:</span>
        </div>
        <!-- Rechnung an end-->

        <!-- Recipient -->
        <div>
          <div style="margin: 8px 0;">
            <span class="gen-arbitrary-text">Herr</span>
          </div>

          <span class="gen-entity"><%natur_personen#1%></span><br/>
          <span class="gen-entity"><%address%></span>
        </div>
        <!-- Recipient end -->
      </div>
      <!-- First column end -->

      <!-- Second column -->
      <div
        style="margin-right: 20px; min-width: 250px;"
        random-interval-margin-top="0:120px"
        random-interval-width="270:350px"
        random-interval-line-height="18:25px"
      >
        <!-- Date -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">DATUM: </span>
          <span class="gen-entity"><%doc_due_date%></span>
        </div>
        <!-- Date end -->

        <!-- RECHNUNG NR -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">RECHNUNG NR.</span>
        </div>
        <!-- RECHNUNG NR end-->

        <!-- Steuemummer -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">Steuemummer: </span>
        </div>
        <!-- Steuemummer end -->

        <!-- Ust-IDNr -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">Ust-IDNr.: </span>
        </div>
        <!-- Ust-IDNr end -->

        <!-- Phone -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 15px;">
          <span class="gen-arbitrary-text">Mobil: </span>
          <span class="gen-entity"><%phone%></span>
        </div>
        <!-- Phone end -->

        <!-- Email -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">E-Mail: </span>
          <span class="gen-entity"><%email%></span>
        </div>
        <!-- Email end -->

        <!-- Fax -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">Fax NR.: </span>
          <span class="gen-entity"><%fax%></span>
        </div>
        <!-- Fax end -->

        <!-- Fur -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text" style="display: block; margin-top: 15px; text-decoration: underline;">"Für: "</span>
        </div>
        <!-- Fur end -->

      </div>
      <!-- Second column end -->

    </div>
    <!-- Header end -->

    <!-- Project -->
    <div style="display: flex; margin-top: 20px;" random-list-justify-content="flex-start, flex-end, center">
      <div style="text-align: center;">
        <div style="font-style: italic;"><span class="gen-arbitrary-text">Projekt, Objekt -bzw. Dienstbeschreibung</span></div>
        <span class="gen-entity"><%address%></span>
      </div>
    </div>
    <!-- Project end -->

    <!-- Service period -->
    <div
      style="margin: 50px 0 80px auto; display: flex; justify-content: space-between;"
      random-interval-width="30:50%"
      >
      <span>
        <span class="gen-arbitrary-text">Leistungszeitraum:  </span>
      </span>
      <span>
        <span class="gen-arbitrary-text">Samstag den </span><span class="gen-entity"><%doc_due_date%></span>
      </span>
    </div>
    <!-- Service period end -->

    <span class="gen-arbitrary-text" style="font-size: 20px;">Rechnung Nr.,</span>
    <!-- Table -->
    <table
      random-interval-margin-bottom="30:80px"
      style="width: 100%; text-align: center;"
    >
    <!-- Table header -->
      <tr>
        <th style="width: 40%;">
          <span class="gen-arbitrary-text">Position / Bezeichnung</span>
        </th>
        <th style="width: 10%;">
          <span class="gen-arbitrary-text">Menge</span>
        </th>
        <th style="width: 10%;">
          <span class="gen-arbitrary-text">Einheit</span></th>
        <th style="width: 10%;">
          <span class="gen-arbitrary-text">EP</span>
        </th>
        <th style="width: 20%;">
          <span class="gen-arbitrary-text">Gesamtpreis</span>
        </th>
      </tr>
    <!-- Table header end -->

    <!-- Row 1 row -->
      <tr>
        <td style="border-width: 0 1px;">
          <span class="gen-arbitrary-text">Netzüberprüfuna</span>
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 1 end-->
    <!-- Row 2 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left; padding: 5px 20px;">
          <span
class="gen-arbitrary-text">Nach Anforderung des</span>
            <!-- Naturliche name inserted in text -->
            <span class="gen-entity"><%natur_personen%></span>
          <span class="gen-arbitrary-text"> wurde die von der Firma "Wires&Cables Construction" errichtete Zähleranlage auf Leckströme untersucht.</span>
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 2 end -->
    <!-- Row 3 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left; padding: 0 20px;">
          <span
class="gen-arbitrary-text">Es wurden keine Fehler festgestellt.</span>
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px; text-align: right;"><span class="gen-arbitrary-text">132,05€</span> </td>
      </tr>
    <!-- Row 3 end -->
    <!-- Row 4 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left;">
          <span
class="gen-arbitrary-text"          >-  An-u. Abfahrtskosten"</span>
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px; text-align: right;"><span class="gen-arbitrary-text">108,00€</span> </td>
      </tr>
    <!-- Row 4 end -->
    <!-- Row 5 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left;">
          <span
class="gen-arbitrary-text">-  Monteurstunden</span>
        </td>
        <td style="border-width: 0 1px;"><span class="gen-arbitrary-text">139</span></td>
        <td style="border-width: 0 1px;"><span class="gen-arbitrary-text">km</span></td>
        <td style="border-width: 0 1px; text-align: right;"><span class="gen-arbitrary-text">0.95€</span></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 5 end-->
    <!-- Row 6 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left;">
          <span
class="gen-arbitrary-text"          >Hinweis:"</span>
        </td>
        <td style="border-width: 0 1px;"><span class="gen-arbitrary-text">3</span></td>
        <td style="border-width: 0 1px;"><span class="gen-arbitrary-text">Std.</span></td>
        <td style="border-width: 0 1px; text-align: right;"><span class="gen-arbitrary-text">36.00€</span></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 6 end -->
    <!-- Row 7 -->
      <tr>
        <td style="border-width: 0 1px 1px; text-align: left;" random-interval-padding-bottom="50:200px">
          <span
class="gen-arbitrary-text"          >-  Gesamtzeitaufwand 11:45 Uhr bis 17.30 Uhr (Notfall)"</span>
        </td>
        <td style="border-width: 0 1px 1px;"></td>
        <td style="border-width: 0 1px 1px;"></td>
        <td style="border-width: 0 1px 1px;"></td>
        <td style="border-width: 0 1px 1px;"></td>
      </tr>
    <!-- Row 7 end -->
    <!-- Table footer -->
      <tr>
        <td
          rowspan="2"
          style="border-width: 0; text-align: left;"
          random-interval-padding-top="0:15px"
          >
          <span class="gen-arbitrary-text">Hinweis:</span>
        </td>
        <td
          colspan="3"
          style="border-width: 1px; padding-bottom: 10px;"
          random-interval-padding-bottom="0:15px">
          <span class="gen-arbitrary-text">Gesamtsumme netto</span>
        </td>
        <td style="border-width: 1px; text-align: right">
          <span class="gen-arbitrary-text">240,05 €</span>
        </td>
      </tr>

      <tr>
        <td
          colspan="3"
          style="border-width: 1px;"
          random-list-text-align="center, right"
          random-interval-padding-top="0:15px">
          <span class="gen-arbitrary-text" random-interval-margin-right="5:70px">Umsatzsteuer 19%</span>
        </td>
        <td style="border-width: 1px; text-align: right">
          <span class="gen-arbitrary-text">45,61 €</span>
        </td>
      </tr>

      <tr>
        <td style="border-width: 0; text-align: left;">
          <span class="gen-arbitrary-text">Datum:</span>
        </td>
        <td colspan="3" style="border-width: 1px; padding-bottom: 8px;">
          <span class="gen-arbitrary-text">Gesamtsumme Brutto</span>
        </td>
        <td style="border-width: 1px; text-align: right">
          <span class="gen-arbitrary-text">285,66 €</span>
        </td>
      </tr>
      <!-- Table footer end-->
    </table>
    <!-- Table end -->

    <!-- Bill -->
    <table style="width: 100%; margin-bottom: 20px;">
      <tr>
        <td rowspan="3" style="width: 50%; border-width: 0; font-size: 18px; text-align: center; text-decoration: underline;">
          <span class="gen-arbitrary-text">Handwerkerrechnunq, nicht skontierfähiq!</span>
        </td>
        <td rowspan="3" style="border-width: 0;">
          <span class="gen-arbitrary-text">0%</span>
        </td>
        <td style="border-width: 0;">
        </td>
        <td
          random-interval-padding-right="0:30px"
          style="border-width: 0; text-align: right;"
        >
          <span class="gen-arbitrary-text">285,66 €</span>
        </td>
      </tr>
      <tr>
        <td
          random-interval-padding-left="0:30px"
          style="border-width: 0; font-weight: 700; text-decoration: underline;"
        >
          <span class="gen-arbitrary-text">gewährt =</span>
        </td>
        <td style="border-width: 0; font-weight: 700; text-align: right;">
          <span class="gen-arbitrary-text">ng</span>
        </td>
      </tr>
      <tr>
        <td
          random-interval-padding-left="0:30px"
          style="border-width: 0; font-weight: 700; text-decoration: underline;"
        >
          <span class="gen-arbitrary-text">zu zahlen</span>
        </td>
        <td style="border-width: 0; font-weight: 700; text-align: right;">
          <span class="gen-arbitrary-text">285,66 €</span>
        </td>
      </tr>
    </table>
    <!-- Bill end -->

    <!-- Payment request -->
    <div style="font-size: 25px; margin-bottom: 60px;">
      <span class="gen-arbitrary-text">Zahlungsanforderung</span>
    </div>
    <!-- Payment request end -->

    <!-- Footer -->
    <div
      random-interval-font-size="14:18px"
    >
      <div>
        <span class="gen-arbitrary-text">Alle Rechnungen zahlbar an Firmenname</span>
      </div>
      <div>
        <span class="gen-arbitrary-text">Bitte zahlen Sie sofort ohne Abzug an die unten genannte Bankverbindung.</span>
      </div>
      <div>
        <span class="gen-arbitrary-text">Für überfällige Rechnungen wird eine Mahngebühr von 1% pro Monat plus Bearbeitungsgebühren berechnet. Die gelieferte Ware bleibt bis zur vollständigen Bezahlung unser Eigentum.</span>
      </div>
      <div style="text-align: center;">
        <span class="gen-arbitrary-text">VIELEN DANK FÜR IHREN AUFTRAG!</span>
      </div>
    </div>
    <!-- Footer end -->
</div>