<div>
  <div>
    <div class="metadata" doctype="briefpost" template="2"></div>
    <!-- Logo -->
    <div
    style="float: right; max-width: 35%;"
    random-interval-font-size="30:55px"
    random-list-font-weight="100,200,300,400,500,600,700,800,900"
    random-interval-letter-spacing="-7:15px"
    >
      <span class="gen-arbitrary-text">RECHNUNG</span>
    </div>
    <!-- Logo end -->

    <!-- Header -->
    <div style="width: 65%; display: flex; justify-content: stretch;">

      <!-- First column -->
      <div
        random-interval-margin-right="20:50px"
        style="flex-shrink: 0;"
      >
        <!-- Group heading -->
        <div>
          <!-- Heading -->
          <div style="font-weight: 800" random-interval-font-size="18:25px">
            <span class="gen-entity"><%doc_involved_party#1%></span>
          </div>
          <!-- Heading end -->

          <!-- Subtitle -->
          <div style="font-weight: 700; margin-bottom: 20px;">
            <span class="gen-arbitrary-text">(haftungsbeschränkt)</span>
          </div>
          <!-- Subtitle end -->

          <!-- Address -->
          <div
          random-list-font-weight="100,200,300,400"
          random-interval-margin-bottom="20:40px"
          random-interval-font-size="0.85:1em"
          style="display:block; width:180px; font-style: italic;"
          >
            <span class="gen-entity"><%address%></span>
          </div>
          <!-- Address end -->
        </div>
        <!-- Group heading end -->

        <!-- Rechnung an -->
        <div
          style="margin-bottom: 20px; font-weight: 700;"
          random-interval-margin-top="20:40px"
        >
          <span class="gen-arbitrary-text">Rechnung an:</span>
        </div>
        <!-- Rechnung an end-->

        <!-- Recipient -->
        <div>
          <div style="margin: 8px 0;">
            <!-- <span class="gen-arbitrary-text">Herr</span> -->
          </div>

          <span class="gen-entity"><%doc_involved_party%></span><br/>
          <span class="gen-entity"><%address%></span>
        </div>
        <!-- Recipient end -->
      </div>
      <!-- First column end -->

      <!-- Second column -->
      <div
        style="margin-right: 20px; min-width: 250px;"
        random-interval-margin-top="0:120px"
        random-interval-width="270:350px"
        random-interval-line-height="18:25px"
      >
        <!-- Date -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">DATUM: </span>
          <span class="gen-entity"><%doc_date%></span>
        </div>
        <!-- Date end -->

        <!-- RECHNUNG NR -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">RECHNUNG NR.</span>
        </div>
        <!-- RECHNUNG NR end-->

        <!-- Steuemummer -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">Steuemummer: </span>
        </div>
        <!-- Steuemummer end -->

        <!-- Ust-IDNr -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">Ust-IDNr.: </span>
        </div>
        <!-- Ust-IDNr end -->

        <!-- Phone -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 15px;">
          <span class="gen-arbitrary-text">Mobil: </span>
          <span class="gen-entity"><%phone%></span>
        </div>
        <!-- Phone end -->

        <!-- Email -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">E-Mail: </span>
          <span class="gen-entity"><%email%></span>
        </div>
        <!-- Email end -->

        <!-- Fax -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text">Fax NR.: </span>
          <span class="gen-entity"><%fax%></span>
        </div>
        <!-- Fax end -->

        <!-- Fur -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <span class="gen-arbitrary-text" style="display: block; margin-top: 15px; text-decoration: underline;">"Für: "</span>
        </div>
        <!-- Fur end -->

      </div>
      <!-- Second column end -->

    </div>
    <!-- Header end -->

    <!-- Project -->
    <div style="display: flex; margin-top: 20px;" random-list-justify-content="flex-start, flex-end, center">
      <div style="text-align: center;">
        <div style="font-style: italic;"><span class="gen-arbitrary-text">Projekt, Objekt -bzw. Dienstbeschreibung</span></div>
        <span class="gen-entity"><%address%></span>
      </div>
    </div>
    <!-- Project end -->

    <!-- Service period -->
    <div
      style="margin: 50px 0 80px auto; display: flex; justify-content: space-between;"
      random-interval-width="30:50%"
      >
      <span>
        <span class="gen-arbitrary-text">Leistungszeitraum:  </span>
      </span>
      <span>
        <span class="gen-arbitrary-text">Samstag den </span><span class="gen-entity"><%doc_due_date%></span>
      </span>
    </div>
    <!-- Service period end -->

    <span class="gen-arbitrary-text" style="font-size: 20px;">Rechnung Nr.,</span>
    <!-- Table -->
    <table
      random-interval-margin-bottom="30:80px"
      style="width: 100%; text-align: center;"
    >

       <div>
        [%content%]
      </div>

    <!-- Bill -->
    <table style="width: 100%; margin-bottom: 20px;">
      <tr>
        <td rowspan="3" style="width: 50%; border-width: 0; font-size: 18px; text-align: center; text-decoration: underline;">
          <span class="gen-arbitrary-text">Handwerkerrechnunq, nicht skontierfähiq!</span>
        </td>
        <td rowspan="3" style="border-width: 0;">
          <span class="gen-arbitrary-text">0%</span>
        </td>
        <td style="border-width: 0;">
        </td>
        <td
          random-interval-padding-right="0:30px"
          style="border-width: 0; text-align: right;"
        >
          <span class="gen-arbitrary-text">285,66 €</span>
        </td>
      </tr>
      <tr>
        <td
          random-interval-padding-left="0:30px"
          style="border-width: 0; font-weight: 700; text-decoration: underline;"
        >
          <span class="gen-arbitrary-text">gewährt =</span>
        </td>
        <td style="border-width: 0; font-weight: 700; text-align: right;">
          <span class="gen-arbitrary-text">ng</span>
        </td>
      </tr>
      <tr>
        <td
          random-interval-padding-left="0:30px"
          style="border-width: 0; font-weight: 700; text-decoration: underline;"
        >
          <span class="gen-arbitrary-text">zu zahlen</span>
        </td>
        <td style="border-width: 0; font-weight: 700; text-align: right;">
          <span class="gen-arbitrary-text">285,66 €</span>
        </td>
      </tr>
    </table>
    <!-- Bill end -->

    <!-- Payment request -->
    <div style="font-size: 25px; margin-bottom: 60px;">
      <span class="gen-arbitrary-text">Zahlungsanforderung</span>
    </div>
    <!-- Payment request end -->

    <!-- Footer -->
    <div
      random-interval-font-size="14:18px"
    >
      <div>
        <span class="gen-arbitrary-text">Alle Rechnungen zahlbar an Firmenname</span>
      </div>
      <div>
        <span class="gen-arbitrary-text">Bitte zahlen Sie sofort ohne Abzug an die unten genannte Bankverbindung.</span>
      </div>
      <div>
        <span class="gen-arbitrary-text">Für überfällige Rechnungen wird eine Mahngebühr von 1% pro Monat plus Bearbeitungsgebühren berechnet. Die gelieferte Ware bleibt bis zur vollständigen Bezahlung unser Eigentum.</span>
      </div>
      <div style="text-align: center;">
        <span class="gen-arbitrary-text">VIELEN DANK FÜR IHREN AUFTRAG!</span>
      </div>
    </div>
    <!-- Footer end -->
</div>