<style>
  ul li{
    list-style: none;
  }
</style>

<div  #akte_06__152>
  <div class="metadata" doctype="Briefpost" template="1"></div>
  <div>

    <div
      style="display: flex; justify-content: space-around; width: 100%;"
      random-interval-padding-bottom="150:230px"
      random-interval-margin-top="150:230px"
    >

    <!-- Contact 1 -->
      <div>
    <ul random-interval-font-size="16:18pt">
      <li>
        <span class="gen-entity"><%doc_involved_party#1%></span>
      </li>
      <li>
        <span class="gen-entity"><%address#1%></span>
      </li>
    </ul>
    <ul random-interval-font-size="12:16pt">
      <li>
        <span class="gen-entity"><%phone#1%></span>
      </li>
      <li>
        <span class="gen-entity"><%fax#1%></span>
      </li>
      <li>
        <span class="gen-entity"><%email#1%></span>
      </li>
    </ul>
  </div>
  <!-- Contact 1 end -->

      <div style="display: flex; justify-content: space-around; width: 50%; flex-wrap: wrap">
        <div style="width: 50%; text-align: center"
             random-list-font-weight="600, 800"
        >
          <app-logo></app-logo>
          <span class="gen-arbitrary-text">RecMiungsDatum</span>
        <span class="gen-entity"><%doc_due_date#1%></span>
        </div>
      </div>
    </div>
    <div class="body">
      <div
        random-list-font-weight="600, 800"
        random-list-text-transform="capitalize, uppercase"
        random-list-text-align="left, center"
        random-interval-font-size="16:35pt"
        random-interval-padding-bottom="90:140px"
      >
        <span class="gen-arbitrary-text">Rechnung / Lieferechein</span>
      </div>

      <div style="width: 300px"
           random-interval-padding-bottom="90:140px"
      >
      </div>

      <div
        random-interval-padding-top="50:90px"
        random-interval-padding-bottom="50:90px"
      >
      <div>
        [%content%]
      </div>
      </div>

      <div style="width: 390px"
           random-interval-padding-bottom="90:140px"
           random-list-margin-left="0px, 350px"
           random-interval-font-size="14:16pt"
      >
        <div style="float: left">
          <b>
            <span class="gen-arbitrary-text">Gesamtpreis Netto</span>
          </b>
        </div>
        <div style="float: right">
          <b>
            <span class="gen-arbitrary-text">314,28 EUR</span>
          </b>
        </div>
        <div style="float: left; clear: left">
          <span class="gen-arbitrary-text">MwSt. 19,00%</span>
        </div>
        <div style="float: right; clear: right">
          <span class="gen-arbitrary-text">59,71 EUR</span>
        </div>
        <div style="float: left">
          <b>
            <span class="gen-arbitrary-text">"Gesamtpreis Brutto</span>
          </b>
        </div>
        <div style="float: right">
          <b>
            <span class="gen-arbitrary-text">373,99 EUR</span>
          </b>
        </div>
      </div>
      <hr>
      <div random-list-margin-left="5%, 45%, 85%"
           random-interval-padding-top="50:150px">
        <span class="gen-arbitrary-text">Datum </span>
        <span class="gen-entity"><%doc_date%></span>
      </div>
    </div>
  </div>
</div>