<p>Sehr geehrte Damen und Herren,
  in der vorbezeichneten Angelegenheit hat das Amtsgericht Köln, Luxemburger Str. 101, 50939
  Köln, Termin zur mündlichen Verhandlung auf den 18.02.2020, 10:25 Uhr, Saal 123 anberaumt.
  Es ist nicht erforderlich, dass Sie an dem Termin teilnehmen. Es sei denn, Sie erhalten durch das
  Gericht eine besondere Ladung, in der das persönliche Erscheinen angeordnet wird.
  Wir werden den Termin wahrnehmen und über das Ergebnis berichten.
  Mit freundlichen Grüßen
  RA Marcus Goldschmidt</p>
