<style>
  h3 {
    text-decoration: underline;
    font-size: .75em;
    margin: 10px 0px;
  }
  ul li{
    list-style: none;
  }
</style>

<div id="from" [ngStyle]="{'border': this.borderConf}">
  <h3> <span [innerHTML]="fromName | wrapWords: 'naturname'"> </span>|
    <span [innerHTML]="address.split(',')[0] | wrapWords: 'address'"></span> |
    <span [innerHTML]="address.split(',')[1] | wrapWords: 'address'"></span>
  </h3>
  <ul>
    <li [innerHTML]="toName | wrapWords: 'naturname'"></li>
    <li [innerHTML]="address | wrapWords: 'address'"></li>
  </ul>
</div>
