<div id="paper-wrapper"
     random-list-font-family="Tahoma, Helvetica, Arial, Thames New Roman"
     [ngStyle]="{
      'background': overlayColor + ' ' + randomPaperBg,
      'text-shadow': textShadow,
      'background-size': 'cover',
      'background-blend-mode': 'overlay',
      'background-repeat': 'no-repeat',
      'overflow': 'hidden',
      'z-index': '-3',
      'height': getPaperProportionalHeight() + 'px'
    }">

  <div id="inner"
       [ngStyle]="{
        'padding': innerAreaVerticalPadding + ' ' + innerAreaHorizontalPadding
        }">

    <app-header>
    </app-header>
    <app-content>

    </app-content>
<!--    <div id="layout" [ngTemplateOutlet]="t2"></div>-->
<!--  </div>-->
</div>

<ng-template #t1>
  <div>1</div>
</ng-template>
<ng-template #t2>
  <div>2</div>
</ng-template>
