<link href="https://fonts.googleapis.com/css?family=Averia+Libre|Averia+Serif+Libre|Gotu|Merriweather|Mirza|Playfair+Display|Roboto+Mono|Roboto+Slab|Simonetta|Slabo+27px|Source+Code+Pro|Special+Elite&display=swap" rel="stylesheet">

<div id="paper-wrapper"
     random-list-font-family="Tahoma, Helvetica, Arial, Times New Roman"
     random-list-transform="rotate(0deg), rotate(-0.5deg), rotate(1deg), rotate(-1.5deg), rotate(2deg), rotate(-2.5deg)"
     [ngStyle]="{
      'background': overlayColor + ' ' + randomPaperBg,
      'text-shadow': textShadow,
      'background-size': 'cover',
      'background-blend-mode': 'overlay',
      'background-repeat': 'no-repeat',
      'overflow': 'hidden',
      'z-index': '-3',
      'height': getPaperProportionalHeight() + 'px'
    }">

  <div id="inner" appRandomRender
        style="margin-top: 100px" 
       [ngStyle]="{
        'padding': innerAreaVerticalPadding + ' ' + innerAreaHorizontalPadding
        }"
        random-list-font-family="Averia Libre, Averia Serif Libre, Gotu, Merriweather, Mirza, Playfair Display, Roboto Mono, Roboto Slab, Simonetta, Slabo 27px, Source Code Pro, Special Elite"
        >

  <div *appRandomTemplate="[akte_06__153, akte_06__152, akte_01, akte_01__009, akte_21__46]"></div>
   <!-- <div *appRandomTemplate="[akte_21__46]"></div> -->
</div>


<ng-template #classic>
  <app-header>
  </app-header>
  <app-content>
  </app-content>
</ng-template>


<ng-template  #akte_01>
  <div>
    <app-contact class="reference_from"
      random-interval-margin-right="0:50%"
      random-interval-margin-top="40:60px"
    >
    </app-contact>


    <app-contact class="reference_to"
      random-list-float="left"
      random-interval-margin-top="260:310px"
    >
    </app-contact>

    <div
      style="display: flex; justify-content: space-around; width: 100%;"
      random-interval-padding-top="150:230px"
      random-interval-padding-bottom="150:230px"
    >
      <div><app-text content="Steuernummer"></app-text></div>
      <div><app-text content="Unser Zeichen"></app-text></div>
      <div style="display: flex; justify-content: space-around; width: 50%; flex-wrap: wrap">
        <div style="width: 50%">
          <app-text content="Sachverständiger/DW Seiten"></app-text>
        </div>
        <div style="width: 50%; text-align: right">
          <app-text content="Datum"></app-text>
        </div>
        <div style="width: 100%; border-bottom: solid 1px #000; padding-top: 10px; text-align: center">
<!--          {{ random.getRandomIntInclusive(1, 30)}}-->
          <app-text content="1"></app-text>
        </div>
      </div>
    </div>

    <div
      random-list-font-weight="600, 800"
      random-list-text-transform="capitalize, uppercase"
      random-list-text-align="left, center"
      random-interval-font-size="16:25pt"
      random-interval-padding-bottom="90:140px"
    >
      <app-text content="Rechnung"></app-text>
    </div>

    <div style="width: 300px"
         random-interval-padding-bottom="90:140px"
    >
      <div>
        <app-text content="Gutachten Nr.."></app-text>
      </div>
      <div>
        <app-text content="Rechnungs-Nr.."></app-text>
      </div>
      <div style="float: left">
        <app-text content="Siete:"></app-text>
      </div>
      <div style="float: right">
        <app-text content="1 von 1"></app-text>
      </div>
      <div style="float: left; clear: left">
        <app-text content="Datum"></app-text>
      </div>
      <div style="float: right; clear: right">
        <app-entity endpoint="datetime"></app-entity>
      </div>
    </div>

    <div random-interval-font-size="16:20pt">
      <app-text content="Für meine am "></app-text>
      <app-entity endpoint="datetime"></app-entity>
      <app-text
        content=" in Auftrag gegebene Gutachtertätigkeit, werden folgende Kosten in Rechnung gestellt:">
      </app-text>
    </div>

    <div
      random-interval-padding-top="50:90px"
      random-interval-padding-bottom="50:90px"
    >
      <table>
        <tr>
          <th style="width: 20%">
            <app-text content="Pos"></app-text>
          </th>
          <th style="width: 30%">
            <app-text content="Beschreibung"></app-text>
          </th>
          <th style="width: 20%">
            <app-text content="Menge"></app-text></th>
          <th style="width: 20%">
            <app-text content="Me"></app-text>
          </th>
          <th style="width: 30%">
            <app-text content="Preis/Me"></app-text>
          </th>
        </tr>
        <tr>
          <td><app-text content="1"></app-text> </td>
          <td><app-text content="Farhtkosten pro km"></app-text> </td>
          <td><app-text content="84,00"></app-text> </td>
          <td><app-text content="km"></app-text> </td>
          <td><app-text content="0,95"></app-text> </td>
        </tr>
        <tr>
          <td><app-text content="2"></app-text> </td>
          <td><app-text content="Farjrtzeiten"></app-text> </td>
          <td><app-text content="1,00"></app-text> </td>
          <td><app-text content="Stunden"></app-text> </td>
          <td><app-text content="95,00"></app-text> </td>
        </tr>
        <tr>
          <td><app-text content="3"></app-text> </td>
          <td><app-text content="Ortspesichtigung"></app-text> </td>
          <td><app-text content="1,50"></app-text> </td>
          <td><app-text content="Stunden"></app-text> </td>
          <td><app-text content="125,00"></app-text> </td>
        </tr>
      </table>
    </div>

    <div style="width: 500px"
         random-interval-padding-bottom="90:140px"
         random-list-margin-left="0px, 500px"
         random-interval-font-size="14:18pt"
    >
      <div style="float: left">
        <app-text content="Nettobetrag: Mehrwetrsteuer"></app-text>
      </div>
      <div style="float: right">
        <app-text content="362,30"></app-text>
      </div>
      <div style="float: left; clear: left">
        <app-text content="19% Bruttobetrag"></app-text>
      </div>
      <div style="float: right; clear: right">
        <app-text content="68,84"></app-text>
      </div>
      <div style="float: right; clear: right">
        <app-text content="431,14"></app-text>
      </div>
    </div>

    <hr>
    <div random-list-margin-left="5%, 45%, 85%" style="padding-top: 10px">
      <app-text content="Seite 1 von 1"></app-text>
    </div>
  </div>
</ng-template>


<ng-template #akte_01__009>
  <div>

    <!-- Logo -->
    <div
    style="float: right; max-width: 35%;"
    random-interval-font-size="30:55px"
    random-list-font-weight="100,200,300,400,500,600,700,800,900"
    random-interval-letter-spacing="-7:15px"
    >
      <app-text content="RECHNUNG"></app-text>
    </div>
    <!-- Logo end -->

    <!-- Header -->
    <div style="width: 65%; display: flex; justify-content: stretch;">

      <!-- First column -->
      <div 
        random-interval-margin-right="20:50px"
        style="flex-shrink: 0;"
      >
        <!-- Group heading -->
        <div>
          <!-- Heading -->
          <div style="font-weight: 800" random-interval-font-size="18:25px">
            <app-text content="Bernhard Baumeister UG"></app-text>
          </div>
          <!-- Heading end -->

          <!-- Subtitle -->
          <div style="font-weight: 700; margin-bottom: 20px;">
            <app-text content="(haftungsbeschränkt)"></app-text>
          </div>
          <!-- Subtitle end -->

          <!-- Address -->
          <div
          random-list-font-weight="100,200,300,400"
          random-interval-margin-bottom="20:40px"
          random-interval-font-size="0.85:1em"
          style="display:block; width:180px; font-style: italic;"
          >
            <app-entity endpoint="address"></app-entity>
          </div>
          <!-- Address end -->
        </div>
        <!-- Group heading end -->

        <!-- Rechnung an -->
        <div 
          style="margin-bottom: 20px; font-weight: 700;"
          random-interval-margin-top="20:40px"
        >
          <app-text content="Rechnung an:"></app-text>
        </div>
        <!-- Rechnung an end-->

        <!-- Recipient -->
        <div>
          <div style="margin: 8px 0;">
            <app-text content="Herr"></app-text>
          </div>
          
          <app-entity endpoint="name"></app-entity><br/>
          <app-entity style="display:block; width:150px;" endpoint="address"></app-entity>
        </div>
        <!-- Recipient end -->
      </div>
      <!-- First column end -->

      <!-- Second column -->
      <div
        style="margin-right: 20px; min-width: 250px;"
        random-interval-margin-top="0:120px"
        random-interval-width="270:350px"
        random-interval-line-height="18:25px"
      >
        <!-- Date -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <app-text content="DATUM: "></app-text>
          <app-entity endpoint="datetime"></app-entity>
        </div>
        <!-- Date end -->

        <!-- RECHNUNG NR -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <app-text content="RECHNUNG NR."></app-text>
        </div>
        <!-- RECHNUNG NR end-->

        <!-- Steuemummer -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <app-text content="Steuemummer: "></app-text>
        </div>
        <!-- Steuemummer end -->

        <!-- Ust-IDNr -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <app-text content="Ust-IDNr.: "></app-text>
        </div>
        <!-- Ust-IDNr end -->

        <!-- Phone -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 15px;">
          <app-text content="Mobil: "></app-text>
          <app-entity style="float: right;" endpoint="phone"></app-entity>
        </div>
        <!-- Phone end -->

        <!-- Email -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <app-text content="E-Mail: "></app-text>
          <app-entity style="float: right;" endpoint="email"></app-entity>
        </div>
        <!-- Email end -->

        <!-- Fax -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <app-text content="Fax NR.: "></app-text>
          <app-entity endpoint="fax"></app-entity>
        </div>
        <!-- Fax end -->

        <!-- Fur -->
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <app-text style="display: block; margin-top: 15px; text-decoration: underline;" content="Für: "></app-text>
        </div>
        <!-- Fur end -->

      </div>
      <!-- Second column end -->

    </div>
    <!-- Header end -->

    <!-- Project -->
    <div style="display: flex; margin-top: 20px;" random-list-justify-content="flex-start, flex-end, center">
      <div style="text-align: center;">
        <div style="font-style: italic;"><app-text content="Projekt, Objekt -bzw. Dienstbeschreibung"></app-text></div>
        <app-entity endpoint="address"></app-entity>
      </div>
    </div>
    <!-- Project end -->

    <!-- Service period -->
    <div 
      style="margin: 50px 0 80px auto; display: flex; justify-content: space-between;"
      random-interval-width="30:50%"
      >
      <span>  
        <app-text content="Leistungszeitraum:  "></app-text>
      </span>
      <span>
        <app-text content="Samstag den "></app-text> <app-entity endpoint="datetime"></app-entity>
      </span>  
    </div>
    <!-- Service period end -->

    <app-text style="font-size: 20px;" content="Rechnung Nr.,"></app-text>
    <!-- Table -->
    <table
      random-interval-margin-bottom="30:80px"
      style="width: 100%; text-align: center;"
    >
    <!-- Table header -->
      <tr>
        <th style="width: 40%;">
          <app-text content="Position / Bezeichnung"></app-text>
        </th>
        <th style="width: 10%;">
          <app-text content="Menge"></app-text>
        </th>
        <th style="width: 10%;">
          <app-text content="Einheit"></app-text></th>
        <th style="width: 10%;">
          <app-text content="EP"></app-text>
        </th>
        <th style="width: 20%;">
          <app-text content="Gesamtpreis"></app-text>
        </th>
      </tr>
    <!-- Table header end -->

    <!-- Row 1 row -->
      <tr>
        <td style="border-width: 0 1px;">
          <app-text content="Netzüberprüfuna"></app-text>
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 1 end-->
    <!-- Row 2 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left; padding: 5px 20px;">
          <app-text
          content='Nach Anforderung des Herrn Martin Kaufmann wurde die von der Firma "Wires&Cables Construction" errichtete Zähleranlage auf Leckströme untersucht.'></app-text> 
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 2 end -->
    <!-- Row 3 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left; padding: 0 20px;">
          <app-text
          content="Es wurden keine Fehler festgestellt."></app-text> 
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px; text-align: right;"><app-text content="132,05€"></app-text> </td>
      </tr>
    <!-- Row 3 end -->
    <!-- Row 4 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left;">
          <app-text
          content="-	An-u. Abfahrtskosten"></app-text> 
        </td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px;"></td>
        <td style="border-width: 0 1px; text-align: right;"><app-text content="108,00€"></app-text> </td>
      </tr>
    <!-- Row 4 end -->
    <!-- Row 5 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left;">
          <app-text
          content="-	Monteurstunden"></app-text> 
        </td>
        <td style="border-width: 0 1px;"><app-text content="139"></app-text></td>
        <td style="border-width: 0 1px;"><app-text content="km"></app-text></td>
        <td style="border-width: 0 1px; text-align: right;"><app-text content="0.95€"></app-text></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 5 end-->
    <!-- Row 6 -->
      <tr>
        <td style="border-width: 0 1px; text-align: left;">
          <app-text
          content="Hinweis:"></app-text> 
        </td>
        <td style="border-width: 0 1px;"><app-text content="3"></app-text></td>
        <td style="border-width: 0 1px;"><app-text content="Std."></app-text></td>
        <td style="border-width: 0 1px; text-align: right;"><app-text content="36.00€"></app-text></td>
        <td style="border-width: 0 1px;"></td>
      </tr>
    <!-- Row 6 end -->
    <!-- Row 7 -->
      <tr>
        <td style="border-width: 0 1px 1px; text-align: left;" random-interval-padding-bottom="50:200px">
          <app-text
          content="-	Gesamtzeitaufwand 11:45 Uhr bis 17.30 Uhr (Notfall)"></app-text> 
        </td>
        <td style="border-width: 0 1px 1px;"></td>
        <td style="border-width: 0 1px 1px;"></td>
        <td style="border-width: 0 1px 1px;"></td>
        <td style="border-width: 0 1px 1px;"></td>
      </tr>
    <!-- Row 7 end -->
    <!-- Table footer -->
      <tr>
        <td 
          rowspan="2" 
          style="border-width: 0; text-align: left;"
          random-interval-padding-top="0:15px"
          >
          <app-text content="Hinweis:"></app-text> 
        </td>
        <td 
          colspan="3" 
          style="border-width: 1px; padding-bottom: 10px;"
          random-interval-padding-bottom="0:15px">
          <app-text content="Gesamtsumme netto"></app-text>
        </td>
        <td style="border-width: 1px; text-align: right">
          <app-text content="240,05 €"></app-text>
        </td>
      </tr>

      <tr>
        <td 
          colspan="3" 
          style="border-width: 1px;"
          random-list-text-align="center, right"
          random-interval-padding-top="0:15px">
          <app-text random-interval-margin-right="5:70px" content="Umsatzsteuer"></app-text><app-text content="19%"></app-text>
        </td>
        <td style="border-width: 1px; text-align: right">
          <app-text content="45,61 €"></app-text>
        </td>
      </tr>

      <tr>
        <td style="border-width: 0; text-align: left;">
          <app-text content="Datum:"></app-text> 
        </td>
        <td colspan="3" style="border-width: 1px; padding-bottom: 8px;">
          <app-text content="Gesamtsumme Brutto"></app-text>
        </td>
        <td style="border-width: 1px; text-align: right">
          <app-text content="285,66 €"></app-text>
        </td>
      </tr>
      <!-- Table footer end-->
    </table>
    <!-- Table end -->

    <!-- Bill -->
    <table style="width: 100%; margin-bottom: 20px;">
      <tr>
        <td rowspan="3" style="width: 50%; border-width: 0; font-size: 18px; text-align: center; text-decoration: underline;">
          <app-text content="Handwerkerrechnunq, nicht skontierfähiq!"></app-text>
        </td>
        <td rowspan="3" style="border-width: 0;">
          <app-text content="0%"></app-text>
        </td>
        <td style="border-width: 0;">
        </td>
        <td
          random-interval-padding-right="0:30px" 
          style="border-width: 0; text-align: right;"
        >
          <app-text content="285,66 €"></app-text>
        </td>
      </tr>
      <tr>
        <td
          random-interval-padding-left="0:30px"
          style="border-width: 0; font-weight: 700; text-decoration: underline;"
        >
          <app-text content="gewährt ="></app-text>
        </td>
        <td style="border-width: 0; font-weight: 700; text-align: right;">
          <app-text content="ng"></app-text>
        </td>
      </tr>
      <tr>
        <td 
          random-interval-padding-left="0:30px"
          style="border-width: 0; font-weight: 700; text-decoration: underline;"
        >
          <app-text content="zu zahlen"></app-text>
        </td>
        <td style="border-width: 0; font-weight: 700; text-align: right;">
          <app-text content="285,66 €"></app-text>
        </td>
      </tr>
    </table>
    <!-- Bill end -->

    <!-- Payment request -->
    <div style="font-size: 25px; margin-bottom: 60px;">
      <app-text content="Zahlungsanforderung"></app-text>
    </div>
    <!-- Payment request end -->

    <!-- Footer -->
    <div
      random-interval-font-size="14:18px"
    >
      <div>
        <app-text content="Alle Rechnungen zahlbar an Firmenname"></app-text>
      </div>
      <div>
        <app-text content="Bitte zahlen Sie sofort ohne Abzug an die unten genannte Bankverbindung."></app-text>
      </div>
      <div>
        <app-text content="Für überfällige Rechnungen wird eine Mahngebühr von 1% pro Monat plus Bearbeitungsgebühren berechnet. Die gelieferte Ware bleibt bis zur vollständigen Bezahlung unser Eigentum."></app-text>
      </div>
      <div style="text-align: center;">
        <app-text content="VIELEN DANK FÜR IHREN AUFTRAG!"></app-text>
      </div>
    </div>
    <!-- Footer end -->

  </div>
</ng-template>


<ng-template #akte_21__46>
  <div>
    <!-- Page number -->
    <div
      random-interval-top="10:30px"
      random-interval-right="10:80px" 
      style="position: absolute;">
      <app-text content="Seite 1 von 3"></app-text>
    </div>
    <!-- Page number end -->

    <!-- Header -->
    <div 
      random-interval-margin-top="0:50px"
      random-interval-margin-bottom="10:20px"
      random-interval-font-size="18:28px"
      random-interval-border-bottom-width="1:4px"
      random-list-border-bottom-color="#000, #222, #333, #444, #555"
      random-interval-padding-bottom="0:8px"
      style="border-bottom-style: solid;"

    >
      <app-entity endpoint="name"></app-entity>
    </div>
    <!-- Header end -->

    <!-- Email -->
    <div
      random-interval-font-size="12:18px"
      random-interval-margin-left="0:20px"
      random-interval-margin-bottom="30:80px"
    >
      <!-- Mail fields -->
      <div
        class="email_header"
        style="display: flex;"
        random-interval-margin-left="0:25px"
        random-interval-line-height="16:32px"
      >
        <!-- Titles  -->
        <div style="font-weight: 800;">
          <div>
            <app-text content="Von:"></app-text>
          </div>
          <div>
            <app-text content="Gesendet:"></app-text>
          </div>
          <div>
            <app-text content="An:"></app-text>
          </div>
          <div>
            <app-text content="Betreff:"></app-text>
          </div>
          <div>
            <app-text content="Anlagen:"></app-text>
          </div>
        </div>
        <!-- Titles end -->
        <!-- Content -->
        <div random-interval-margin-left="0:90px">
          <div>
            <app-entity endpoint="name"></app-entity><app-text content=" [Matthias.Diller@bauche.de]"></app-text>
          </div>
          <div>
            <app-entity endpoint="datetime"></app-entity>
          </div>
          <div>
            <app-entity endpoint="name"></app-entity>
          </div>
          <div>
            <app-text content="WG: IXAH - Pflegeheim-HSH-FFM: Schreiner/ABC: Verzugsfeststellung"></app-text>
          </div>
          <div>
            <app-text content="20140729142544087.pdf, WG.Magelllste Ringel Haus (Gokart), ABC-Projekt 32092"></app-text>
          </div>
        </div>
        <!-- Content end -->
      </div>
      <!-- Mail fields end -->
      
      <!-- Mail body -->
      <div random-interval-margin-top="25:50px">
        <!-- Greetings -->
        <div>
          <app-text content="Hallo "></app-text>
          <app-entity endpoint="name"></app-entity>,
        </div>
        <!-- Greetings end -->
        
        <!-- Main -->
        <p 
          random-interval-margin-top="0:25px"
          random-interval-margin-bottom="0:25px"
          random-interval-max-width="60:100%"
        >
          <app-text content="Würden Sie in dem BV Ringel Haus Gokart bitte entsprechend der Nachricht von Herrn Voige auf Ihrem
          Kanzleipapier anschreiben. Herr Siekmann hatte auch schon eine Bewertung der Schäden vorgenommen
          (siehe Mail-Anhang).
          "></app-text>
        </p>
        <!-- Main end -->

        <!-- Signature -->
        <div>
          <p>
            <app-text content="Danke und Gruß"></app-text>
          </p>
          <p>
            <app-entity endpoint="name"></app-entity>
          </p>
        </div>
        <!-- Signature end -->
      </div>
      <!-- Mail body end -->
    </div>  
    <!-- Email end -->

    <!-- Reply -->
    <div
      random-interval-font-size="12:18px"
      random-interval-border-top-width="1:3px"
      random-list-border-bottom-color="#000, #222, #333, #444, #555"
      random-interval-padding-top="10:30px"
      style="border-top-style: solid;"
    >
      <!-- Mail fields -->
      <div
        class="email_header"
        style="display: flex;"
        random-interval-margin-left="0:20px"
        random-interval-line-height="16:32px"
      >
        <!-- Titles  -->
        <div style="font-weight: 800;">
          <div>
            <app-text content="Von:"></app-text>
          </div>
          <div>
            <app-text content="Gesendet:"></app-text>
          </div>
          <div>
            <app-text content="An:"></app-text>
          </div>
          <div>
            <app-text content="Betreff:"></app-text>
          </div>
        </div>
        <!-- Titles end -->
        <!-- Content -->
        <div random-interval-margin-left="0:90px">
          <div>
            <app-entity endpoint="name"></app-entity>
          </div>
          <div>
            <app-entity endpoint="datetime"></app-entity>
          </div>
          <div>
            <app-entity endpoint="name"></app-entity>
          </div>
          <div>
            <app-text content="AW: IXAH - Pflegeheim-HSH-FFM: Schreiner/ABC: Verzugsfeststellung - Kündigungsandrohung /"></app-text>
          </div>
        </div>
        <!-- Content end -->
      </div>
      <!-- Mail fields end -->
      
      <!-- Mail body -->
      <div random-interval-margin-top="25:50px">        
        <!-- Main -->
        <div 
          random-interval-margin-bottom="25:50px"
          random-list-font-weight="400, 800"
        >
          <p random-interval-margin-bottom="10:15px">
            <app-text content="Ich würde Gokart über den Verwalter anschreiben lassen, dass die Masse die Mängel nicht
            beheben kann, dass aber Einverständnis besteht, wenn damit der neue Rechtsträger
            beauftragt wird und die insoweit entstehenden Kosten von den offenen Forderungen in Höhe
            von 40 TEUR gekürzt werden
            "></app-text>
          </p>
          <p>
            <app-text content="Das bietet zumindest noch eine gewisse Chance auf Realisierung einer Teilforderung."></app-text>
          </p>
        </div>
        <!-- Main end -->

        <!-- Signature -->
        <div>
          <p random-interval-margin-bottom="10:15px">
            <app-text content="Freundliche Grüße"></app-text>
          </p>
          <p>
            <app-text content="Dipl.-Kaufmann (FH)"></app-text>
          </p>
          <p 
            random-list-font-weight="400, 800"
            random-interval-font-size="100:200%"
          >
            <app-entity endpoint="name"></app-entity>
          </p>
          <p>
            <app-text content="Steuerberater"></app-text>
          </p>
        </div>
        <!-- Signature end -->
      </div>
      <!-- Mail body end -->
    </div>
    <!-- Reply end -->
    
    <!-- Footer -->
    <div class="footer">
      <!-- Company info -->
      <div random-interval-margin-top="50:100px">
        <p>
          <app-text content="Bauche, Voige & Partner Steuerberatungsgesellschaft"></app-text>
        </p>
        <p>
          <app-text content="Eingetragene Partnerschaft mit Sitz in Verden (Aller)"></app-text>
        </p>
        <p>
          <app-text content="Partnerschaftsregister-Nr. PR 100735"></app-text>
        </p>
        <p>
          <app-text content="Eingetragen beim Amtsgericht Hannover"></app-text>
        </p>
      </div>
      <!-- Company info end  -->

      <!-- Contacts -->
      <div
        random-interval-margin-top="50:100px" 
        style="display: flex;"
      >
        <!-- Contact group -->
        <div random-interval-margin-left="0:20px">
          <p style="font-size: 1.7em; font-weight: 800;">
            <app-entity endpoint="name"></app-entity>
          </p>
          <p 
            random-interval-max-width="70:100%"
            style="margin-bottom: 20px"
          >
            <app-entity endpoint="address"></app-entity>
          </p>
          <div style="display: flex;">
            <div>
              <p random-interval-margin-left="-2:3px">
                <app-text content="Tel:"></app-text>
              </p>
              <p random-interval-margin-left="-2:3px">
                <app-text content="Fax:"></app-text>
              </p>
              <p 
                style="margin-bottom: 20px"
                random-interval-margin-left="-2:3px"  
              >
                <app-text content="Mobil:"></app-text>
              </p>
              <p random-interval-margin-left="-2:3px">
                <app-text content="Mail:"></app-text>
              </p>
              <p random-interval-margin-left="-3:2px">
                <app-text content="Web:"></app-text>
              </p>
            </div>
            <div random-interval-margin-left="0:15px">
              <p random-interval-margin-left="-2:3px">
                <app-entity endpoint="phone"></app-entity>
              </p>
              <p random-interval-margin-left="-3:2px">
                <app-entity endpoint="fax"></app-entity>
              </p>
              <p 
                style="margin-bottom: 20px"
                random-interval-margin-left="-5:5px"
              >
                <app-entity endpoint="phone"></app-entity>
              </p>
              <p style="text-decoration: underline;">
                <app-entity endpoint="email"></app-entity>
              </p>
              <p style="text-decoration: underline;">
                <app-text content="www.bauche.de"></app-text>
              </p>
            </div>
          </div>
        </div>
        <!-- Contact group end -->
        
        <!-- Contact group -->
        <div random-interval-margin-left="40:120px">
          <p style="font-size: 1.7em; font-weight: 800;">
            <app-entity endpoint="name"></app-entity>
          </p>
          <p 
            style="margin-bottom: 20px"
            random-interval-max-width="70:100%"
          >
            <app-entity endpoint="address"></app-entity>
          </p>
          <div style="display: flex;">
            <div>
              <p random-interval-margin-left="-5:5px">
                <app-text content="Tel:"></app-text>
              </p>
              <p random-interval-margin-left="-5:5px">
                <app-text content="Fax:"></app-text>
              </p>
            </div>
            <div random-interval-margin-left="0:15px">
              <p random-interval-margin-left="-5:5px">
                <app-entity endpoint="phone"></app-entity>
              </p>
              <p random-interval-margin-left="-5:5px">
                <app-entity endpoint="fax"></app-entity>
              </p>
            </div>
          </div>
        </div>
        <!-- Contact group end -->
      </div>
      <!-- Contacts end -->
    
      <!-- Date -->
      <p random-interval-margin-top="60:150px">
        <app-entity endpoint="datetime"></app-entity>
      </p>
      <!-- Date end -->
    </div>
    <!-- Footer end -->
  </div>
</ng-template>


<ng-template  #akte_06__152>
  <div>

    <div
      style="display: flex; justify-content: space-around; width: 100%;"
      random-interval-padding-bottom="150:230px"
      random-interval-margin-top="150:230px"
    >
      <app-contact class="reference_to">
      </app-contact>
      <div style="display: flex; justify-content: space-around; width: 50%; flex-wrap: wrap">
        <div style="width: 50%; text-align: center"
             random-list-font-weight="600, 800"
        >
          <app-logo></app-logo>
          <app-text content="RecMiungs Datum "></app-text> <!-- Google translate says "RecHnungsDatum" correct, not this version -->
          <app-entity endpoint="datetime"></app-entity>
        </div>
      </div>
    </div>
    <div class="body">
      <div
        random-list-font-weight="600, 800"
        random-list-text-transform="capitalize, uppercase"
        random-list-text-align="left, center"
        random-interval-font-size="16:35pt"
        random-interval-padding-bottom="90:140px"
      >
        <app-text content="Rechnung / Lieferechein"></app-text>
      </div>

      <div style="width: 300px"
           random-interval-padding-bottom="90:140px"
      >
      </div>

      <div
        random-interval-padding-top="50:90px"
        random-interval-padding-bottom="50:90px"
      >
        <table rules="none" border="0" cellpadding="0" cellspacing="0">
          <tr style="border-bottom: 1px solid #000">
            <th style="width: 10%;  border: 0">
              <app-text content="MengtBezeichnung(Stück)"></app-text>
            </th>
            <th style="width: 40%;  border: 0">
              <app-text content="Bezeichnung"></app-text>
            </th>
            <th style="width: 20%; border: 0">
              <app-text content="Einzel(Netto)"></app-text>
            </th>
            <th style="width: 20%; border: 0">
              <app-text content="Gesamt(Netto)"></app-text>
            </th>
            <th style="width: 20%; border: 0">
              <app-text content="MwSt"></app-text>
            </th>
             <th style="width: 20%; border: 0">
              <app-text content="Gesamt(Brutto)"></app-text>
            </th>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="1"></app-text> </td>
            <td style="border: 0"><app-text content="Husqvarna Motorsäge Kettensägen Benzin 455 Rancher .325 15 Zoll 38 cm 3.5 PS Ultimative Kultsäge 965030115 AiW KWMH5"></app-text> </td>
            <td style="border: 0"><app-text content="308,12"></app-text> </td>
            <td style="border: 0"><app-text content="308,12"></app-text> </td>
            <td style="border: 0"><app-text content="19%"></app-text> </td>
            <td style="border: 0"><app-text content="366,66"></app-text> </td>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="1"></app-text> </td>
            <td style="border: 0"><app-text content="Paypalgebühr +2.00%"></app-text> </td>
            <td style="border: 0"><app-text content="6,16"></app-text> </td>
            <td style="border: 0"><app-text content="6,16"></app-text> </td>
            <td style="border: 0"><app-text content="19%"></app-text> </td>
            <td style="border: 0"><app-text content="7,33"></app-text> </td>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="1"></app-text> </td>
            <td style="border: 0"><app-text content="GLS DE"></app-text> </td>
            <td style="border: 0"><app-text content="0,00"></app-text> </td>
            <td style="border: 0"><app-text content="0,00"></app-text> </td>
            <td style="border: 0"><app-text content="19%"></app-text> </td>
            <td style="border: 0"><app-text content="0,00"></app-text> </td>
          </tr>
        </table>
      </div>

      <div style="width: 390px"
           random-interval-padding-bottom="90:140px"
           random-list-margin-left="0px, 350px"
           random-interval-font-size="14:16pt"
      >
        <div style="float: left">
          <b>
            <app-text content="Gesamtpreis Netto"></app-text>
          </b>
        </div>
        <div style="float: right">
          <b>
            <app-text content="314,28 EUR"></app-text>
          </b>
        </div>
        <div style="float: left; clear: left">
          <app-text content="MwSt. 19,00%"></app-text>
        </div>
        <div style="float: right; clear: right">
          <app-text content="59,71 EUR"></app-text>
        </div>
        <div style="float: left">
          <b>
            <app-text content="Gesamtpreis Brutto"></app-text>
          </b>
        </div>
        <div style="float: right">
          <b>
            <app-text content="373,99 EUR"></app-text>
          </b>
        </div>
      </div>
      <hr>
      <div random-list-margin-left="5%, 45%, 85%"
           random-interval-padding-top="50:150px">
        <app-text content="Datum "></app-text>
        <app-entity endpoint="datetime"></app-entity>
      </div>
    </div>
  </div>
</ng-template>


<ng-template  #akte_06__153>
  <div>

    <!-- Random stamp -->
    <div
      style="position: absolute"
      random-interval-width="20:30%"
      random-list-opacity="0.3, 0.5"
      random-list-transform="rotate(0deg), rotate(15deg), rotate(-15deg), rotate(60deg), rotate(-60deg)"
      random-interval-top="10:50vh"
      random-interval-left="10:70%"
    >
      <app-random-image srcDir="stamps" count="5"></app-random-image>
    </div>

    <div
      style="display: flex; justify-content: space-around; width: 100%;"
      random-interval-padding-top="120:200px"
      random-interval-padding-bottom="120:200px"
    >
       <div style="float: left; margin-right: 10%; width:50%"
            random-interval-padding-top="10:30px"
            random-interval-font-size="14:16pt"
       >
         <app-entity endpoint="address"></app-entity>
       </div>
      <div style="float: right; margin-left: 10%; width: 50%">
        <div
          random-list-font-weight="600, 800"
          random-list-text-transform="capitalize, uppercase"
          random-list-text-align="center, right, left"
          random-interval-font-size="16:25pt"
          random-interval-padding-bottom="0:20px"
        >
          <app-text content="Rechnung"></app-text>  <!-- Rechnung doesnt change position-->
        </div>
        <table
          random-interval-font-size="14:16pt"
        >
          <tr>
            <th style="width: 5%;  border: 0">
              <app-text content=" "></app-text>
            </th>
            <th style="width: 20%;  border: 0">
              <app-text content=" "></app-text>
            </th>
            <th style="width: 5%;  border: 0">
              <app-text content=" "></app-text>
            </th>
            <th style="width: 70%;  border: 0">
              <app-text content=" "></app-text>
            </th>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="ndennr."></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="Belegdatum"></app-text> </td>
            <td style="border: 0"><app-entity endpoint="datetime"></app-entity> </td>
            <td style="border: 0"><app-text content="Unser Zeichen"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="Sachbearbeiter"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content="Rechnung"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
          </tr>
          <hr>
          <tr>    <!-- ADD LINES ABOVE -->
            <td style="border: 0"><app-text content="Bestellt von"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content="Telefon"></app-text> </td>
            <td style="border: 0"><app-entity endpoint="phone"></app-entity> </td>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="Ihr Zeichen"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content="Telefax"></app-text> </td>
            <td style="border: 0"><app-entity endpoint="fax"></app-entity> </td>
          </tr>
          <tr>
            <td style="border: 0"><app-text content="Komission"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
          </tr>
          <hr>
          <tr>   <!-- ADD LINES ABOVE -->
            <td style="border: 0"><app-text content="VorOrt"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content="Vor Ort"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
          </tr>
          <hr>
          <tr>    <!-- ADD LINES ABOVE -->
            <td style="border: 0"><app-text content="Einsatzort Selbstabholer"></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
            <td style="border: 0"><app-text content=" "></app-text> </td>
          </tr>
        </table>
      </div>
    </div>

    <div
      random-interval-padding-top="50:90px"
      random-interval-padding-bottom="50:90px"
    >
      <table>
        <tr>
          <th style="width: 20%; text-align: left; border: 0">
            <app-text content="Anz."></app-text>
          </th>
          <th style="width: 30%; text-align: left; border: 0">
            <app-text content="Artikelbezetofsiung"></app-text>
          </th>
          <th style="width: 20%; text-align: left; border: 0">
            <app-text content="Tage"></app-text>
          </th>
          <th style="width: 20%; text-align: left; border: 0">
            <app-text content="Mietzeitraum, vorläufig"></app-text>
          </th>
          <th style="width: 30%; text-align: left; border: 0">
            <app-text content="E. Preis PH.*"></app-text>
          </th>
          <th style="width: 30%; text-align: left; border: 0">
            <app-text content="G preis"></app-text>
          </th>
        </tr>
        <tr>
          <td style="border: 0"><app-text content="5.00"></app-text> </td>
          <td style="border: 0"><app-text content="Fahrgerüst. L=3.00 m. B=0.8 m. Breite Fahrbalken=2.10m. (Abrechnung pro meter in Arbeitshohe)"></app-text> </td>
          <td style="border: 0"><app-text content="1.0"></app-text> </td>
          <td style="border: 0"><app-text content="24.05 16 11:00 25.05 16 09:00"></app-text> </td>
          <td style="border: 0"><app-text content="0,00"></app-text> </td>
          <td style="border: 0"><app-text content="40,00"></app-text> </td>
        </tr>
        <tr>
          <td style="border: 0"><app-text content="1.00"></app-text> </td>
          <td style="border: 0"><app-text content="Kleingeräteversicherung (10,00 % des Mietpreises). SB beträgt 50 C je Schaden"></app-text> </td>
          <td style="border: 0"><app-text content="1.00"></app-text> </td>
          <td style="border: 0"><app-text content=" "></app-text> </td>
          <td style="border: 0"><app-text content="4,00"></app-text> </td>
          <td style="border: 0"><app-text content="4,00"></app-text> </td>
        </tr>
        <tr>
          <td style="border: 0"><app-text content="1.00"></app-text> </td>
          <td style="border: 0"><app-text content="Ausgabe. Rücknahme. Obeipiufung"></app-text> </td>
          <td style="border: 0"><app-text content=" "></app-text> </td>
          <td style="border: 0"><app-text content=" "></app-text> </td>
          <td style="border: 0"><app-text content="20,00"></app-text> </td>
          <td style="border: 0"><app-text content="20,00"></app-text> </td>
        </tr>
      </table>
    </div>

    <div style="display: flex; justify-content: space-around; width: 70%;"
      random-interval-padding-top="50:100px"
      random-interval-padding-bottom="50:100px"
    >
      <table align="left">
        <tr>
          <th style="width: 10%; border: 0; text-align: left">
            <app-text content="Summe netto"></app-text>
          </th>
          <th style="width: 10%; border: 0; text-align: left">
            <app-text content="MwSt. 19,00%"></app-text>
          </th>
          <th style="width: 10%; border: 0; text-align: left">
            <app-text content="Endbetrag"></app-text></th>
          <th style="width: 10%; border: 0; text-align: left">
            <app-text content="Zahlungen"></app-text>
          </th>
          <th style="width: 10%; border: 0; text-align: left">
            <app-text content="Zahlbetrag"></app-text>
          </th>
        </tr>
        <tr>
          <td style="border: 0"><app-text content="64.00"></app-text> </td>
          <td style="border: 0"><app-text content="12,16"></app-text> </td>
          <td style="border: 0"><app-text content="76,16"></app-text> </td>
          <td style="border: 0"><app-text content="76,16"></app-text> </td>
          <td style="border: 0"><app-text content="0,00"></app-text> </td>
        </tr>
      </table>
    </div>
    <div style="width: 950px"
         random-interval-padding-bottom="10:50px"
    >
      <div random-interval-font-size="12:14pt">
        <app-text content="Geleistete Zahlungen:"></app-text>
        <app-entity endpoint="datetime"></app-entity>
        <app-text content=" :-73.84 EUR (SAR);"></app-text>
        <app-entity endpoint="datetime"></app-entity>
        <app-text content=" S: 150.00 EUR(BAR)"></app-text>
      </div>
    </div>
    <div style="width: 980px"
         random-interval-padding-bottom="90:140px"
    >
      <div random-interval-font-size="12:14pt">
        <app-text content="Zahlungsbedingungen: 150.00 G Vorkasse vor Mietbeginn. Restbetrag zahlbar ohne Abzüge bei Erhalt der Rechnung "></app-text>
      </div>
    </div>
  </div>

  <div
    style="position: relative"
    random-interval-width="15:30%"
    random-list-opacity="0.3, 0.5, 0.7"
    random-list-transform="rotate(0deg), rotate(15deg), rotate(-15deg), "
    random-interval-top="10:50px"
    random-interval-left="10:60%"
  >
    <app-random-image srcDir="signatures" count="4"></app-random-image>
  </div>
</ng-template>
